{% extends "layouts/base_sections.html" %}
{% load crispy_forms_filters %}

{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
  <header class="header-2">
  <div class="page-header min-vh-100 relative"
       style="background-image: url('{% static 'img/curved-images/8810183.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="text-white pt-4 mt-n5">Dish name: {{ dish.name }}</h2>
          <h3 class="text-white">
            <p class="text-white h6">
              <strong>Description:</strong>&nbsp; {{ dish.description }} <span style="margin-left: 20px"></span>
            </p>
            <p class="text-white h5">
              <strong>Price:</strong>&nbsp; {{ dish.price }} <span style="margin-left: 20px"></span>
              <strong>Dish type:</strong>&nbsp;   {{ dish.dish_type }} <span style="margin-left: 20px"></span>
            </p>
          </h3>
            <div class="row text-center py-2 mt-3 align-items-center">
              <div class="input-group mb-2">
                <div class="col">
                  {% block search_form %}
                    {% include "includes/search_cook_form.html" %}
                  {% endblock %}
                </div>
                <div class="col"></div> 
                <div class="col text-end">
                  <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-primary link-to-page">
                    Update
                  </a>
                </div> 
              </div>
            </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          {% if dish.cooks.all %}
                      <table class="table table-light table-striped table-hover">
                        <tr class="table table-dark table-hover">
                          <th>ID</th>
                          <th>Cook Username</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Prax years</th>
                          <th>Remove</th>
                        </tr>
          
                        {% for cook in page_obj %}
                          <tr class="table-striped">
                            <td>
                              {{ cook.id }}
                            </td>
                            <td>
                              {{ cook.username }}
                            </td>
                            <td>
                              {{ cook.first_name }}
                            </td>
                            <td>
                              {{ cook.last_name }}
                            </td>
                            <td>
                              {{ cook.prax_years }}
                            </td>
                            <td>
                              <a style="color: red"
                                 href="{% url 'kitchen:toggle-cook-to-dish-assign' pk=cook.id dish_id=dish.id %}">
                                Remove
                              </a>
                            </td>
                          </tr>
                        {% endfor %}
                      </table>
                      
                    {% else %}
                      <div class="row">
                        <div class="col-lg-7 text-center mx-auto">
                          <h4 class="text-white pt-4 mt-n5">Now he has no dishes. Please add.</h4>
                        </div>
                      </div>
                    {% endif %}
                    <div class="col-lg-7 text-center mx-auto">
                      {% block pagination %}

                        {% include "includes/pagination.html" %}

                      {% endblock %}
                    </div>
    
        </div>
      </div>    
    </div>
      
    {% include "includes/waves.html" %}
  
  </div>
</header>
  
{% endblock content %}
